#container{
  width: 100%;
  height: 100%;
}

.titolo{
  text-align: center;
}

.sottotitolo{
  margin: 10px;
  font-size: 25px;
}

#input {
  margin: 10px;
  width: max-content;
  font-size: 25px;
}

.task{
  font-size: 30px;
  width: max-content;
}

.Aggiungi {
  background: #d9d9d9;
  width: 250px;
  height: 50px;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
}

.testo_utente {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  border: 3px;
  border-color: black;
}
.Chiudi{
  margin-left: 100px;
  font-size: 30px;
}

.Chiudi:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.Spunta{
  margin-left: 100px;
  font-size: 30px;
}

.Spunta:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}

.testo_lista{
  margin: 10px;
}

.checked{
  text-decoration: line-through;
}