/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Artifika&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');

/*div container*/
#container {
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  padding: 10px;
  border: 0;
  margin: 0 auto;
  background: #ECF0F1;
  border-top: 5px solid #7F8C8D;
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, .5);
  font-family: 'Artifika', serif;
  font-size: 18px;
}

/* titolo todo list */
.titolo {
  padding: 20px;
  background: #ECECEC;
  text-align: center;
  border-color: black;
  border-style: double;
  color: #7F8C8D;
  font-family: 'Bad Script', cursive;
  margin-bottom: 0px;
}

/* inserisci una task*/
.sottotitolo {
  margin: 10px;
  font-size: 25px;
}

/*aggiungi*/
#input {
  width: 75%;
  font-size: 25px;
  background: transparent;
  border: none;
  font-family: 'Artifika', serif;
}

/*div task*/
.task {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

/*input testo e tasto aggiungi*/
.testo_utente {
  display: flex;
  justify-content: space-between;
  font-family: 'Artifika', serif;
  padding: 10px;
}

/*input testo*/
.text {
  margin: 10px;
  font-family: 'Artifika', serif;
  word-wrap: break-word;
  width: 75%;
  padding: 20px;
  border-top: 2px solid rgb(200,200,200);
  border-top-style: dashed;
  transition: all 1s;
}

/*lista di task*/
.testo_lista {
  margin: 10px;
  font-size: 20px;
  font-family: 'Artifika', serif;
}

/*tasto aggiungi*/
.Aggiungi {
  margin: 10px;
  display: block;
  background: #D9D9D9;
  width: 250px;
  height: 50px;
  text-align: center;
  font-size: 35px;
  cursor: pointer;
  border-color: black;
  border-style: double;
}

.Aggiungi:hover {
  background-color: #FFFFFF;
  transition: all .5s;
}

/*chiudi*/
.Chiudi {
  width: fit-content;
  height: fit-content;
  background: transparent;
  border: none;
  color: #7F8C8D;
  cursor: pointer;
  font-size: 30px;
}

.Chiudi:hover {
  background-color: red;
  cursor: pointer;
}