#input {
  margin: 10px;
  width: max-content;
  font-size: 20px;
}

.Aggiungi {
  background: #d9d9d9;
  color: #555;
  text-align: center;
  cursor: pointer;
  transition: 0.7s;
}

.testo_utente {
  display: flex;
  justify-content: flex-start
  padding: 10px;
  font-size: 16px;
  border: 3px;
  border-color: black;
}
.Chiudi{
  margin-left: 100px;
  font-size: 30px;
}

.Chiudi:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.Spunta{
  margin-left: 100px;
  font-size: 30px;
}

.Spunta:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}